/* Store this code in 'style.css' file inside the 'static' folder*/

			.header{
				padding: 5px 120px;
				width: 150px;
				height: 70px;
				background-color: #c8d8e4;
			}
		
			.border{
				padding: 80px 50px;
				width: 400px;
				height: 450px;
				border: 1px solid #236B8E;
				border-radius: 0px;
				background-color: #2b6777;
			}

			.btn {
				padding: 10px 40px;
				background-color: #c8d8e4;
				color: #2b6777;
				font-style: Helvetica;
				font-weight: bold;
				border-radius: 10px;
			}

			.textbox{
				padding: 10px 40px;
				background-color: #c8d8e4;
				color: #2b6777;
				border-radius: 10px;
			}
				
			::placeholder {
				color:#2b6777;
				opacity: 1;
				font-style: Helvetica;
				font-weight: bold;
			}

			.word{
				color:#2b6777;
				font-style: Helvetica;
				font-weight: bold;
			}

			.bottom{
				color: #c8d8e4;
				font-style: Helvetica;
				font-weight: bold;
			}
